<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> help page</title> 
    </head>
    <body>
       {{> header}}
        <p> cool ? or not ?</p>

       {{> footer}}
    </body>
</html>