<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> maintenance</title> 
    </head>
    <body>
       
        <h1> please wait the website under construction</h1>
        <p> cool ? or not ?</p>

        {{> footer}}
    </body>
</html>